<div data-ng-controller="MicrosoftOfficePasswordEditCtrl as editPwdCtrl">
    <div data-wizard
         data-wizard-on-cancel="resetAction"
         data-wizard-on-finish="changePassword"
         data-wizard-title="i18n.microsoft_office_license_user_edit_password">

        <div data-wizard-step
             data-wizard-step-valid="formEditPassword.$valid && (!editPwdCtrl.model.password || editPwdCtrl.model.password === editPwdCtrl.password.confirm) && !editPwdCtrl.loaders.edit">

            <oui-loader data-ng-if="editPwdCtrl.loaders.infos || editPwdCtrl.loaders.edit"></oui-loader>

            <div data-ng-show="!editPwdCtrl.loaders.infos && !editPwdCtrl.loaders.edit">
                <p data-ng-bind-html="tr('microsoft_office_license_user_edit_password_heading')"></p>

                <form class="form-horizontal mt-4" name="$parent.formEditPassword">
                    <!-- Password-->
                    <div class="form-group"
                         data-ng-class="{'has-error': $parent.formEditPassword.password.$dirty && $parent.formEditPassword.password.$invalid}">
                        <label class="control-label col-md-4" for="txt-account-password"
                               data-i18n-static="microsoft_office_license_user_edit_password_info"></label>
                        <div class="col-md-6">
                            <input type="password" autocomplete="off" class="form-control" id="txt-account-password" name="password" minlength="8" maxlength="16"
                                   data-ng-minLength="8"
                                   data-ng-maxLength="16"
                                   data-ng-model="editPwdCtrl.model.password"
                                   data-ng-pattern="editPwdCtrl.pwdPattern">

                            <small class="help-block"
                                   data-i18n-static="microsoft_office_license_user_edit_password_error"
                                   data-ng-if="$parent.formEditPassword.password.$dirty && $parent.formEditPassword.password.$invalid">
                            </small>
                        </div>
                    </div>

                    <!-- confirmPassword-->
                    <div class="form-group"
                         data-ng-class="{'has-error': $parent.formEditPassword.confirmPassword.$dirty &&
                            ($parent.formEditPassword.confirmPassword.$invalid || editPwdCtrl.model.password !== editPwdCtrl.password.confirm)}">
                        <label class="control-label col-md-4" for="txt-account-password-confirm"
                               data-i18n-static="microsoft_office_license_user_edit_password_confirm"></label>
                        <div class="col-md-6">
                            <input type="password" autocomplete="off" class="form-control" id="txt-account-password-confirm" name="confirmPassword"
                                   data-ng-model="editPwdCtrl.password.confirm">
                            <small class="help-block"
                                   data-i18n-static="microsoft_office_license_user_edit_password_error"
                                   data-ng-if="$parent.formEditPassword.confirmPassword.$dirty && $parent.formEditPassword.confirmPassword.$invalid">
                            </small>
                            <small class="help-block"
                                   data-i18n-static="microsoft_office_license_user_edit_confirm_error"
                                   data-ng-if="editPwdCtrl.model.password && editPwdCtrl.model.password !== editPwdCtrl.password.confirm">
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <small class="d-block col-md-8 col-md-offset-4"
                               data-ng-bind-html="tr('microsoft_office_license_user_edit_password_conditions')"></small>
                    </div>

                    <p class="font-weight-bold"
                       data-i18n-static="microsoft_office_license_user_edit_password_email_notify"></p>

                    <!-- Email-->
                    <div class="form-group">
                        <label class="control-label col-md-4" for="email-user-notify"
                               data-i18n-static="microsoft_office_license_user_edit_password_email_field"></label>
                        <div class="col-md-6">
                            <div class="input-group" data-ng-show="editPwdCtrl.edit.value">
                                <input type="email" class="form-control" id="email-user-notify" name="notifyEmail"
                                       data-ng-model="editPwdCtrl.model.notifyEmail">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            data-ng-click="editPwdCtrl.edit.value = !editPwdCtrl.edit.value">
                                        <span class="fa fa-times" aria-hidden="true"></span>
                                        <span class="sr-only" data-i18n-static="microsoft_office_license_user_edit_password_default_email"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group" data-ng-if="!editPwdCtrl.edit.value">
                                <span class="form-control disabled" data-i18n-static="microsoft_office_license_user_edit_password_nic_admin"></span>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button"
                                            data-ng-click="editPwdCtrl.edit.value = !editPwdCtrl.edit.value">
                                        <span class="fa fa-pencil" aria-label="true"></span>
                                        <span class="sr-only" data-i18n-static="microsoft_office_license_user_edit_password_email"></span>
                                    </button>
                                </div>
                            </div>

                            <!-- sendEmail-->
                            <div class="oui-checkbox">
                                <input class="oui-checkbox__input"
                                       type="checkbox" name="email-admin" id="email-admin"
                                       data-ng-disabled="!editPwdCtrl.model.password && !editPwdCtrl.password.confirm"
                                       data-ng-model="editPwdCtrl.model.shouldSendMail">
                                <label class="oui-checkbox__label-container" for="email-admin">
                                    <span class="oui-checkbox__label" data-i18n-static="microsoft_office_license_user_edit_password_email"></span>
                                    <span class="oui-checkbox__icon">
                                        <span class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></span>
                                        <span class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></span>
                                        <span class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
